<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Link Sharing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
</head>
<body>
<div class="container-fluid">

    <!--navigatioin bar-->
    <nav class="navbar navbar-light bg-dark justify-content-between mr-5 ml-5 mt-2 mb-3 pr-5 pl-5 rounded">
        <a class="navbar-brand">
            <img src="images/icon.png" width="40px" height="40px">
            <en style="color: white; font-family: 'fantasy'">Link Sharing</en>
        </a>
        <form class="form-inline">
            <input class="form-control mr-sm-2 form-control-sm" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0 btn-sm" type="submit">Search</button>
        </form>
    </nav>

    <!--internal body-->
    <div class="container-fluid">
        <div class="row">

            <!--recent shares-->
            <div class="col-md-7 ml-5">

                <!--recent shares-->
                <div class="card" style="border: blue 1px solid">
                    <div class="card-header p-2 bg-primary text-white">
                        <b style="font-family: fantasy">Recent Shares</b>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="images/user.png" alt="image" width="100px"
                                             height="100px" style="border-radius: 50%">
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-control-md ml-2" style="font-family: fantasy">
                                            <b>Username</b>
                                            <a href="#">@userid</a>
                                            <a href="#" class="float-right">Details</a>
                                        </div>
                                        <div class="card-text form-control-sm"
                                             style="text-align: justify; font-family: fantasy">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
                                            dolore dolores doloribus earum enim et excepturi facere fuga ipsa ipsu
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="images/user.png" alt="image" width="100px"
                                             height="100px" style="border-radius: 50%">
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-control-md ml-2" style="font-family: fantasy">
                                            <b>Username</b>
                                            <a href="#">@userid</a>
                                            <a href="#" class="float-right">Details</a>
                                        </div>
                                        <div class="card-text form-control-sm"
                                             style="text-align: justify; font-family: fantasy">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
                                            dolore dolores doloribus earum enim et excepturi facere fuga ipsa ipsu
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--top posts-->
                <div class="card mt-3 mb-3" style="border: blue 1px solid">
                    <div class="card-header p-2 bg-primary text-white">
                        <b style="font-family: fantasy">Top Posts</b>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="images/user.png" alt="image" width="100px"
                                             height="100px" style="border-radius: 50%">
                                    </div>

                                    <div class="col-md-10">
                                        <div class="form-control-md ml-2" style="font-family: fantasy">
                                            <b>Username</b>
                                            <a href="#">@userid</a>
                                            <a href="#" class="float-right">Details</a>
                                        </div>
                                        <div class="card-text form-control-sm"
                                             style="text-align: justify; font-family: fantasy">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
                                            dolore dolores doloribus earum enim et excepturi facere fuga ipsa ipsu
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--login and register-->
            <div class="col-md-4 mr-5">

                <!--login-->
                <div class="well" style="border: blue 1px solid; border-radius: 5px">
                    <div class="card p-0">
                        <div class="card-header  p-2 bg-primary text-white">
                            <b style="font-family: fantasy">Login</b>
                        </div>
                        <div class="card-body">
                            <form th:method="post" style="font-family: fantasy" th:action="@{'/dashboard'}" th:object="${user}">
                                <div class="form-group row">
                                    <label for="username-login" class="col-md-4 col-form-label form-control-sm mb">Email/Username*</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control form-control-sm" name="username" th:field="*{username}"
                                               id="username-login" placeholder="Username/Email" REQUIRED>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword"
                                           class="col-md-4 col-form-label form-control-sm">Password*</label>
                                    <div class="col-md-8">
                                        <input type="password" class="form-control form-control-sm" name="password"
                                               id="inputPassword" placeholder="Password" REQUIRED>
                                    </div>
                                </div>
                                <a href="forgotPassword" class="form-control-sm">Forgot password?</a>
                                <input th:type="submit" class="col-md-5 btn btn-primary btn-sm" th:value="Login"
                                       style="float: right">
                            </form>
                        </div>
                    </div>
                </div>

                <!--register-->
                <div class="card mt-3" style="border: blue 1px solid">
                    <div class="modal fade" id="registerSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Successfully Registered...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header  p-2 bg-primary text-white">
                        <b style="font-family: fantasy">Register</b>
                    </div>
                    <div class="card-body">
                        <form style="font-family: fantasy" action="registerUser" method="post" ENCTYPE="multipart/form-data">
                            <div class="form-group row">
                                <label for="firstName" class="col-md-4 col-form-label form-control-sm">First
                                    Name*: </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="firstName"
                                           name="firstName" placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lastName" class="col-md-4 col-form-label form-control-sm">Last
                                    Name*: </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="lastName"
                                           name="lastName" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label form-control-sm">Email*: </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="email" name="email"
                                           placeholder="Email" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="username"
                                       class="col-md-4 col-form-label form-control-sm">Username*: </label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control form-control-sm" id="username"
                                           name="username" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password"
                                       class="col-md-4 col-form-label form-control-sm">Password*: </label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control form-control-sm" id="password"
                                           placeholder="Password" name="password" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="confirmPassword" class="col-md-4 col-form-label form-control-sm">Confirm
                                    Password*: </label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control form-control-sm" id="confirmPassword"
                                           placeholder="Confirm Password" required="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label form-control-sm" for="photoPath">
                                    Photo:
                                </label>
                                <div class="input-group col-7">
                                    <div class="custom-file form-control-sm">
                                        <input type="file" class="custom-file-input" id="photoPath"
                                               aria-describedby="inputGroupFileAddon01" name="photoPath" required>
                                        <label class="custom-file-label" for="photoPath">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-sm col-5" value="Register"
                                   style="float: right" data-toggle="modal" data-target="#registerSuccess">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div th:include="~{fragments/footer}"></div>
</div>
</body>
</html>

<script>
    $('#password, #confirmPassword').on('keyup', function () {
        if ($('#password').val() == $('#confirmPassword').val()) {
            $('#password').css('border-color', 'green');
            $('#confirmPassword').css('border-color', 'green');
        } else{
            $('#password').css('border-color', 'red');
            $('#confirmPassword').css('border-color', 'red');
            $('#confirmPassword').setCustomValidity('Password does not match')
        }
    });
</script>